html, body {overflow-x: hidden;}

body {

word-wrap: break-word;
line-height: 24px;
background-color: #191919;
font-family: Arial;
width: 100%;
margin: 0px;}

.start {

width: 100%;
background-size:100% 100%;
aspect-ratio: 9/3;
background-image: url('images/background.png');
}

.title {

font-size: calc(1.5vw);
line-height: calc(3vw);
width: 40%;
position: absolute;
top: calc(9vw);
left: 10%;
color: white;
}

.main {

border: 22px solid transparent;
margin: auto;
max-width: 60em;
font-size: 18px;}

.left {

background-color: #cdcdcd;
border: #007dff 6px dashed;
max-width: 82%;
margin-bottom: 90px;
box-shadow: -5px 5px 10px #555;
border-radius: 5px;}

.right {

text-align: center;
margin-top: 25px;
margin-left: 15px;
background-color: #cdcdcd;
border: #007dff 6px dashed;
float: right;
width: 140px;
box-shadow: -5px 5px 10px #555;
border-radius: 5px;}

p, h1, h2, h3, img {

margin-left: 3%;
width: 94%;
}

.idtext {

text-align: center;
width: 100%;}

code {

background-color: white;
padding: 1px;}

.longCode {

background-color: white;
padding: 1px;
line-height: 8px;
width: 50%;
margin-left: 25%;
border-radius: 3px;
border: 3px solid black;}
